.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-container {
  width: 50vw;
  padding: 5vh;
  margin-top: 5vh;
}

.contacts > h1 {
  font-family: "Poppins", sans-serif;
}

.contact-photo {
  width: 50vw;
  height: 100vh;
}

#bottom {
  width: 100%;
  height: 100vh;
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  .contact-photo {
    width: 100vw;
    height: 100vh;
    transition: 0.5s ease;
  }

  .form-container {
    position: absolute;
    width: 100vw;
  }

  .form-container > h1 {
    color: white;
  }

  .email-form {
    width: 70vw;
    background-color: white;
  }

  h1 > a {
    color: white;
  }
}

@media only screen and (max-width: 800px) {
  .form-container {
    padding: 5vh;
  }

  .email-form {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .form-container {
    padding: 2.5vh;
    padding-top: 0;
    margin-top: 0;
  }
}
