.admin-title {
  text-align: center;
  margin: 12.5vh 5vw 0;
}

.admin-panel {
  margin: 7.5vh 10vw;
  border: 5px solid black;
}

.admin-card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 20vh;
  font-size: 2.5vw;
  background-color: black;
  color: white;
}

.admin-card:hover {
  background-color: white;
  color: black;
}

.upload-container {
  margin: 10vh 10vw;
}

.upload-form {
  border: 2.5px solid black;
  width: 100%;
  height: auto;
  min-width: 30vw;
  margin: 5vh auto;
  padding: 0.5em;
}

.post-btn {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  margin-top: 2.5vh;
}

.upload-btn {
  width: 100%;
  height: 50px;
  background-color: white;
  color: black;
  margin-top: 2.5vh;
  border: 2px solid black;
}
