.admin-title {
  text-align: center;
  margin: 12.5vh 5vw 0;
}

.admin-panel {
  margin: 7.5vh 10vw;
  border: 5px solid black;
}

.admin-card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 20vh;
  font-size: 2.5vw;
  background-color: black;
  color: white;
}

.admin-card:hover {
  background-color: white;
  color: black;
}

.upload-container {
  margin: 10vh 15vw;
}
