.new-post > img {
  width: 90vw;
  height: 35vw;
  object-fit: cover;
}

.new-post {
  margin: 7.5vh 5vw 5vh;
  text-align: center;
}

.old-post > img {
  width: 42.5vw;
  height: 27.5vw;
  object-fit: cover;
}

.old-post {
  text-align: center;
  margin-bottom: 4vh;
}

.old-post-list {
  display: grid;
  grid-template-columns: auto auto;
  margin: 6vh 2.5vw;
}

.new-post-title,
.old-post-title {
  font-family: "Playfair Display", serif;
}

.new-post-title {
  font-size: 5vh;
  margin-bottom: 1vh;
}

.old-post-title {
  font-size: 2vh;
  padding-top: 0;
}

.post-date {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.title-container {
  display: flex;
  flex-direction: row;
  padding: 1vh 3vw;
  align-items: center;
}

.vl {
  border-left: 2px solid black;
  height: 4vh;
  margin: 0 0.5vw;
}

.post-date {
  font-size: 1.4vh;
}

hr {
  margin: 2.5vh 37.5vw;
  border-top: 2px solid black;
}

.blog-carousel {
  margin-bottom: 7.5vh;
}

.blog-carousel-img {
  height: 40vh;
  object-fit: cover;
}

.blog-article {
  width: 70vw;
  margin: 7.5vh 15vw;
}
