.collection-container {
  margin-top: 7.5vh;
}

.collection-tile {
  border-bottom: 7.5px solid white;
  width: 90vw;
  margin: 2.5vh 5vw 5vh;
}

.collection-tile > img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  position: relative;
  transition: 0.5s ease;
}

.collection-tile > img:hover {
  cursor: pointer;
}

.collection-description {
  display: none;
}

.collection-name {
  position: absolute;
  z-index: 20;
  font-family: "Playfair Display", serif;
  font-size: 7.5vh;
  color: white;
  margin: 35vh 5vw;
}

.collection-name:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .collection-name {
    font-size: 5vh;
  }

  .collection-name {
    margin: 37.5vh 7.5vw;
  }
}
