form {
  border: 2.5px solid black;
  max-width: 75%;
  margin: 0 auto;
  padding: 2px;
}

#error {
  /* color: #196751; */
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 200;
  border-bottom: 1px solid black;
  letter-spacing: 1px;
}

#error::before {
  display: none;
}

div.form-group {
  text-align: center;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin: 2em 5em;
  font-size: 14px;
}

.form-control {
  width: 80%;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

button[type="submit"],
input[type="submit"] {
  background: black;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 0.5em;
  font-size: 1.25em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 2.5px;
  border-radius: 0;
  width: 100%;
  margin-top: 3em;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  /* background: #196751; */
  opacity: 0.3;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  /* color: #196751; */

  /* opacity: 0.8; */
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="submit"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

/* button[type="button"] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
} */

/* hr {
  margin-top: 30px;
} */

/* button {
  display: block;
  appearance: none;
  margin-top: 4em;
  text-transform: uppercase;
} */
