img.image {
  width: 32vw;
  height: 32vw;
  margin: 0.5vw 0;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s ease;
}

.imageContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1vw;
}

.outsideContainer {
  margin: 6vh 1vw 10vh;
}
