/* .row {
  padding: 7.5em;
}

img.img-fluid.mb-4 {
  margin: 0 0 20px !important;
}

div.row {
  margin: 1em;
  padding: 0 10px !important;
}

div.col-lg-4 {
  margin-top: 5em;
  padding: 0 10px !important;
} */

img.photo {
  /* max-height: 80vh;
  width: 100%;
  object-fit: cover; */
  /* padding: 0.5em; */
  width: 100%;
}

.description {
  display: none;
}

.photoContainer {
  /* display: inline-block; */
  float: right;
  width: 33.33%;
  padding: 0.5em;
}
