.banner {
  width: 100vw;
  height: 42.5vh;
  object-fit: cover;
}

.pricing-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10vh;
}

.pricing-column {
  padding: 0 5vh 5vh;
  text-align: center;
  width: 25vw;
}

.pricing-column > span {
  border-bottom: 2px solid black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
}

.pricing-column > p {
  margin-top: 5vh;
}
