.story-img {
  width: 70vw;
  height: auto;
  object-fit: cover;
  transition: 0.5s ease;
  cursor: pointer;
  margin-bottom: 2.5vh;
}

.photo-description {
  display: none;
}

.selected {
  margin: 5vh 15vw 7.5vh;
}
