.collection {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2vw;
}

.sel-collection-img {
  width: 44vw;
  height: 44vw;
  object-fit: cover;
  transition: 0.5s ease;
  cursor: pointer;
}
