.story-container {
  margin-top: 10vh;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vw;
  cursor: pointer;
  position: relative;
}

.story > img {
  width: 90vw;
  transition: 0.5s ease;
}

.story-description {
  position: absolute;
  color: white;
  bottom: 0;
  padding: 2.5vh;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 17.5px;
  border-top: 2.5px solid white;
}
