.story-tile {
  /* margin: 1vh 5vw; */
  border: 2px solid black;
}

.story-tile > img {
  height: 25vh;
  width: 100vw;
  object-fit: cover;
  transition: 0.5s ease;
}

.story-description {
  display: none;
}
